body {
  background-color: #ef6046;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.logo {
  height: 40px;
  width: 40px;
  transition: 500ms;
  border-bottom: 2px solid transparent;
}

.icon {
  height: 70px;
  width: 70px;
  transition: 500ms;
  border-bottom: 2px solid transparent;
}

footer {
  background-color: whitesmoke;
}