body {
  background-color: #2f243a;
}

.App {
  background-color: #2f243a;
}

.logo {
  height: 50px;
  width: 50px;
  transition: 500ms;
  border-bottom: 2px solid transparent;
}

.center-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 900px;
  width: 50%;
}

/* .center-body-item {
  max-width: 50%;
} */

.timer {
  color: whitesmoke;
  font-size: 1.5em;
}

.statistics {
  color: whitesmoke;
  font-size: 1.5em;
  right: 0;
}

.textbody {
  margin-top: 15px;
  color: grey;
  font-size: 1.5em;
  text-align: left;
}
