body {
  background-color: #2f243a;
}

.logo {
  height: auto;
  width: 100%;
  transition: 500ms;
  border-bottom: 2px solid transparent;
}

.center-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 900px;
  width: 50%;
  margin: auto;
}

.timer {
  color: whitesmoke;
  font-size: 1.5em;
}

.statistics {
  color: whitesmoke;
  font-size: 1.5em;
  right: 0;
}

.statistics-values {
  text-align: right;
  width: 100%;
  justify-content: right;
  right: 0;
  margin-bottom: 20px;
}

.statistics-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: whitesmoke;
}

.statistic {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: row;
}

.navigation {
  font-size: 1.5em;
}

.textbody {
  font-size: 1.5em;
  text-align: justify;
  line-height: 35px;
  outline: 0px;
  overflow: hidden;
}

.text {
  color: darkgray;
  height: fit-content;
  overflow: hidden;
  width: 100%;
  align-content: flex-start;
  font-family: "Roboto Mono";
  display: flex;
  flex-wrap: wrap;
}
